
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
<body style="background-image:url('/Content/img/undraw_rocket.svg')">

    <form action="/Register/Create" method="post">
        <div class="container">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-2 d-none d-lg-block m-5">
                            <img src="~/Content/img/laptop.svg" />
                        </div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" name="companyName" id="exampleFirstName" placeholder="Company Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" name="email" id="exampleInputEmail" placeholder="Admin Email Address">
                                </div>
                                <div class="mb-3">
                                    <input type="tel" class="form-control form-control-user" name="phone" id="examplePhoneNumber" placeholder="Phone Number">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control form-control-user" name="username" id="exampleUserName" placeholder="User Name">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user" name="password" id="exampleInputPassword" placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" name="confirmPassword " id="exampleRepeatPassword" placeholder="Repeat Password">
                                    </div>
                                </div>
                                <input type="submit" value="Sign Up" class="btn btn-primary btn-user btn-block" />



                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/Security/Login">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</body>