
@{
    ViewBag.Title = "About";
}

<div class="container bg-dark text-light rounded-top p-lg-5">
    <img class="p-xl-4" src="~/Content/img/Cyber.PNG" />
    <h1>About Us</h1>
    <p>
        Cyber Security Web TR ;
        It is an information portal created to contribute Turkish content to the Cyber Security World.
        It started broadcasting on July 20, 2019.
        It aims to present the most up-to-date and broadest content to its readers with news from the world of Cyber Security, interviews with the leading cybersecurity professionals of the world and our country, and how-to corners.
        “Today, the number and variety of devices connected to the network is increasing rapidly. Instead of networks consisting of only a few computers, printers and servers until yesterday, we started to encounter network structures
        where everything from the combi boiler to the coffee machine, from the car to the shoes is connected to the network, with the concept of the Internet of Things (IoT).
        With the increase in the number and variety of devices connected to the network, ensuring the security of these devices has become the most important issue. Everyone, from individuals to institutions, has to ensure the security
        of their computing devices. When this is not done, many losses are experienced, from money to time, from reputation to various resources. Mobile phones in our hands can turn into a tool of victimization if not used consciously.
        When institutions fail to protect their data, they may face large fines according to current laws.
        We call cyber security the process of taking the necessary precautions, from protecting our computing devices to protecting our data. Cyber security is one of the most important issues that should be given importance by everyone,
        from individuals to institutions and from states to governments. “
        Cyber Security for All Book Foreword
    </p>
    <div class="container">
        <img src="~/Content/img/wire.PNG" />
        <h1>Hardware Additions</h1>
        <p style="padding: 20px">
            Adversaries may introduce computer accessories, networking hardware, or other computing devices into a system or network that can be used as a
            vector to gain access. Rather than just connecting and distributing payloads via removable storage (i.e. Replication Through Removable Media),
            more robust hardware additions can be used to introduce new functionalities and/or features into a system that can then be abused..
        </p>
        <p style="padding: 30px;"><a href="#details">For more information...</a></p>
    </div>
    <div class="container">
        <img src="~/Content/img/keys.PNG"style="width: 100% "/>
        <h1 style="padding-top: 20px;">Credentials from Password Stores</h1>
        <p style="padding: 40px">
            Adversaries may search for common password storage locations to obtain user credentials.
            Passwords are stored in several places on a system, depending on the operating system or
            application holding the credentials. There are also specific applications that store passwords
            to make it easier for users manage and maintain. Once credentials are obtained, they can
            be used to perform lateral movement and access restricted information.
        </p>
        <p style="padding: 30px;"><a href="#details">For more information...</a></p>
    </div>

</div>