
@{
    ViewBag.Title = "Contact";
}

<div class="container bg-gray-300 p-lg-5 rounded">
    <div class="row ">
        <div class="col-lg-8  mt-xl-5">
            <!--<iframe src="https://www.google.com/maps/d/edit?mid=1Fd1kdOCdTYfZT3b0WZ49lby6tqIbNwI&usp=sharing!3m2!1sen!2suk!4v1605889608028!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->
            <iframe class="rounded-lg" src="https://www.google.com/maps/d/embed?mid=1Fd1kdOCdTYfZT3b0WZ49lby6tqIbNwI&ehbc=2E312F" width="640" height="480" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="col-lg-4">

            <h3 class="text-primary font-weight-bold">Our Contact Details</h3>
            <br />
            <h2>Head Office</h2>
            <br />
            <p>Şube 1: Sultanbeyli/İstanbul</p>
            <br />
            <p>Şube 2: Kadıköy/İstanbul</p>
            <br />
            <p>Şube 3: Ataşehir/İstanbul</p>
            <br />
            <p>
                Tel : 0(216)488 28 38
                <br />
                fax:  0(216)488 28 39
            </p>
            <span>hakanalgul730@gmail.com</span>
            <span>brkekinci1999@gmail.com</span>
        </div>
    </div>
</div>

