
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="home image" style="background-image: url('https://i.picsum.photos/id/769/1600/600.jpg?hmac=iQHo83JtEsOswZ-3NCIDBZZmcjODII0OFBj3vAHokGc'); color: azure; border-radius: 15px; padding: 50px;">
        <h2>Cyber Security</h2>
        <p>
            Cyber ​​security; It is the practice of protecting computers, networks, software applications, critical systems, and data from potential digital threats. Organizations have a
            responsibility to secure data to maintain customer trust and meet regulatory compliance. They use cybersecurity measures and tools to protect sensitive data from unauthorized
            access as well as prevent disruption to business operations due to unwanted network activity. Organizations; They implement cybersecurity by streamlining the digital defense process between employees, processes and technologies.
        </p>
        <h2>Why is Cyber Security Important?</h2>
        <p>
            Businesses in industries as diverse as energy, transportation, retail and manufacturing use digital systems and high-speed connectivity to deliver effective customer
            service and run cost-effective business operations. Just as they protect their physical assets, they must secure their digital assets and protect their systems from unwanted access.
            A deliberate activity to breach and gain unauthorized access to a computer system, network, or connected facilities is called a cyberattack. A successful cyberattack results in the
            disclosure, theft, deletion or alteration of confidential information. Cybersecurity measures defend against cyber attacks and offer the following benefits.
        </p>
        <h2>How Can We Prepare for a Global Scale Cyber Attack?</h2>
        <p>
            Attacks on our digital infrastructures, known as cyber-attacks, are a common occurrence in the 21st century.
            Facilitated by high-speed wireless data transmission technologies, our reliance on digital communications has made
            us susceptible to attacks that could seriously disrupt global digital infrastructures. Such infrastructures include
            financial markets, telecommunication capabilities, healthcare, transportation, national security, and other
            technology-driven sectors. Consequently, cyberterrorism and a global-scale cyber attack have the potential to be catastrophic
            to our modern world.The scale of historical cyber and ransomware attacks, while certainly damaging, has been relatively small
            until this point. But the possibility exists that a global-scale cyber attack could be orchestrated and result in the widespread
            loss of digital infrastructure access for whole geographic regions. It’s, therefore, become crucial to prepare for this new era of
            global cyber attacks with revolutionary approaches to cybersecurity that take the specific risks of large-scale cyber attacks into account.
        </p>
        <h2>What Could Cause a Global-Scale Cyber Attack?</h2>
        <p>Attacks by bad actors on our existing digital infrastructures are no longer novel. Cyberterrorism is a well-documented tool often used by 
        governments to destabilize enemies and rivals.Examples of large-scale cyber and ransomware attacks in recent years include activity thought 
        o be orchestrated by the People’s Republic of China, as detailed by the United States Cybersecurity and Infrastructure Security Agency. The 
        Russian Federation, meanwhile, has been reportedly preparing for additional cyberattacks against the backdrop of the Ukrainian conflict to 
        leverage their flagging efforts to capture the country.Yet these are just examples of relatively small-scale cyber-attacks that had specific
        targets. Larger-scale attacks, even global ones, would need to be fundamentally different to have a worldwide impact. In this case, the most 
        apparent threat to global digital infrastructure is undoubtedly a powerful, widespread EMP, which due to the sheer sophistication and destructiveness
        of modern-day cyber weapons, could lead to societal collapse.
        </p>
    </div>
</div>
