
@{
    ViewBag.Title = "Failed";
}

<div class="container">
    <div class="card" style="width:90%;">
        <img src="~/Content/img/arıza.PNG" class="card-img-top" alt="..." />
        <div class="card-body">
            <p class="card-text">Could not test due to malfunction. Please try again. If you are getting the same error, please contact us.</p>
        </div>
    </div>
</div>