@model List<FinalProjectMitre.Models.Credentials_From_Password_Stores>
@{
    ViewBag.Title = "Credentials";
}

<h2>Credentials</h2>
@foreach (var item in Model)
{
<tr>

    <td>
        @item.result
    </td>
    <td>
        @item.customer_id
    </td>
    <td>
        @item.date
    </td>

</tr>
}

