
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h2>Credentials from Password Stores</h2>
</div>
<div class="card">
    <h5 class="card-header">MITRE ATT&CK Using</h5>
    <div class="card-body">
        <div class="container">
            <img src="~/Content/img/keys.PNG" />

            <h5 class="card-title mt-4">Credentials from Password Stores</h5>
            <p class="card-text">
                Adversaries may search for common password storage locations to obtain user credentials.
                Passwords are stored in several places on a system, depending on the operating system or application holding the
                credentials. There are also specific applications that store passwords to make it easier for users manage and
                maintain. Once credentials are obtained, they can be used to perform lateral movement and access restricted information.

            </p>
            <p class="card-text">
                Agent Tesla is a spyware Trojan written for the .NET framework that has been observed since at least 2014.<br />
                APT29 is threat group that has been attributed to Russia's Foreign Intelligence Service (SVR).[1][2] They have operated since at least 2008,
                often targeting government networks in Europe and NATO member countries, research institutes, and think tanks. APT29 reportedly compromised
                the Democratic National Committee starting in the summer of 2015.
                In April 2021, the US and UK governments attributed the SolarWinds supply chain compromise cyber operation to the SVR; public statements
                included citations to APT29, Cozy Bear, and The Dukes. Victims of this campaign included government, consulting, technology, telecom, and other
                organizations in North America, Europe, Asia, and the Middle East. Industry reporting referred to the actors involved in this campaign as UNC2452,
                NOBELIUM, StellarParticle, and Dark Halo

            </p>
            <a href="/Credentials/Test" class="btn btn-primary">Test It</a>
        </div>
    </div>
</div>/a>