@model FinalProjectMitre.Models.Credentials_From_Password_Stores
@{
    ViewBag.Title = "Test";
}



<form action="/Credentials/Test" method="post">
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5 bg-gradient-light">
            <div class="card-body p-5">
                <!-- Nested Row within Card Body -->

                <div class="container p-5">
                    <div class="text-center">
                        <h1 class=" text-gray-900 mb-4">Test Credentials From Password Stores</h1>
                    </div>
                    <div class="d-flex justify-content-center p-4 ">
                        <img src="~/Content/img/password.PNG" width="400px" />
                        <p class="p-4 text-dark font-italic">
                            For the Credentials From Password Store test, select a test, press the test button,
                            and detect your security vulnerabilities. If your anti-virus program cannot close security gaps, follow the MITER ATT&CK
                            matrix and take necessary precautions and recommendations.
                        </p>
                    </div>
                    <div class="container bg-gradient-success p-4 rounded-sm mb-4">
                        <select id="testNumber" name="testNumber">
                            <option value="2">Dump credentials from Windows Credential Manager With PowerShell [windows Credentials]</option>
                            <option value="3">Dump credentials from Windows Credential Manager With PowerShell [web Credentials]</option>
                            <option value="6">Loot local Credentials - lazagne</option>
                            <option value="7">Loot local Credentials - Wifi Credentials</option>
                            <option value="8">Loot local Credentials - Decrypt Teamviewer Passwords</option>
                        </select>
                    </div>
                    <div class="container  w-50">
                        <input type="submit" value="Test It" class="btn btn-outline-success btn-dark btn-user btn-block  mt-4" />
                    </div>
                    <hr>


                </div>

                <div class="card">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            @if (Model != null)
                            {
                                <h2>Result</h2>
                                <footer class="blockquote-footer">@Model.result @*<cite title="Source Title">@Model.test_number</cite>*@</footer>
                            }
                        </blockquote>
                    </div>
                </div>

            </div>
        </div>

    </div>
</form>